<div class="container">
  <h4>マイページ</h4>
  <div class="row">
    <h3>登録情報</h3>
    　<%= link_to '編集する', customers_edit_path, class:"btn btn-success" %>
  </div></br>
    <table class="table border col-9">
      <tr class="border">
        <th class="border bg-light col-2">氏名</th>
        <td class="col-2"><%= current_customer.last_name %>　<%= current_customer.first_name %></td>
      </tr>
      <tr class="border">
        <th class="border bg-light col-2">カナ</th>
        <td class="col-2"><%= current_customer.last_name_kana %>　<%= current_customer.first_name_kana %></td>
      </tr>
      <tr class="border">
        <th class="border bg-light col-2">郵便番号</th>
        <td class="col-2"><%= current_customer.postal_code %></td>
      </tr>
      <tr class="border">
        <th class="border bg-light col-2">住所</th>
        <td class="col-2"><%= current_customer.address %></td>
      </tr>
      <tr class="border">
        <th class="border bg-light col-2">電話番号</th>
        <td class="col-2"><%= current_customer.telephone_number %></td>
      </tr>
      <tr class="border">
        <th class="border bg-light col-2">メールアドレス</th>
        <td class="col-2"><%= current_customer.email %></td>
      </tr>
    </table>
  <div class="row">
    <h3>配送先</h3>
  　　<%= link_to "一覧を見る", addresses_path, class:"btn btn-info offset-md-1" %>
  </div></br>
  <div class="row">
    <h3>注文履歴</h3>
      <%= link_to "一覧を見る", orders_path, method: :get, class:"btn btn-info offset-md-1" %>
  </div>
</div>
