<h4>マイページ</h4>

<h3>登録情報</h3>
<%= link_to '編集する', customers_edit_path(current_customer), class:"btn btn-success" %>

<div class="row">
  <div class="col">
    <p>氏名</p>
  </div>
  <div class="col">
    <p><%= current_customer.last_name %>　<%= current_customer.first_name %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>カナ</p>
  </div>
  <div class="col">
    <p><%= current_customer.last_name_kana %>　<%= current_customer.first_name_kana %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>郵便番号</p>
  </div>
  <div class="col">
    <p><%= current_customer.postal_code %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>住所</p>
  </div>
  <div class="col">
    <p><%= current_customer.address %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>電話番号</p>
  </div>
  <div class="col">
    <p><%= current_customer.telephone_number %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>メールアドレス</p>
  </div>
  <div class="col">
    <p><%= current_customer.email %></p>
  </div>
</div>

<h3>配送先</h3>
  <%= link_to "一覧を見る", class:"btn btn-info" %>
<h3>注文履歴</h3>
  <%= link_to "一覧を見る", class:"btn btn-info" %>