<%= notice %>
<div class="container">
  <div class="row">
    <p class="col-md-8 offset-md-4">
      ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </p>
  </div>
  <h2>新着商品</h2>
  <div class="row">
    <% @items.each do |item| %>
      <div class="mr-auto">
        <%= image_tag item.image, size: "180x100" %></br>
        <%= item.name %></br>
        ￥<%= item.price %>
      </div>
    <% end %>
  </div>
  <div class="text-right">
    <%= link_to "すべての商品を見る", items_path %>
  </div>
</div>
