<h1><%= @customer.full_name %>さんの会員詳細</h1>
</br>
<div class="container">

 <div class="row">
  <div class="col-2 text-left mb-auto">会員ID</div>
  <div class="col-10 text-left"><%= @customer.id %></div>
 </div>
</br>

 <div class="row">
  <div class="col-2 text-left mb-auto">氏名</div>
  <div class="col-10 text-left"><%= @customer.last_name %>　<%= @customer.first_name %></div>
 </div>
</br>

 <div class="row">
  <div class="col-2 text-left mb-auto">フリガナ</div>
  <div class="col-10 text-left"><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></div>
 </div>
</br>

 <div class="row">
  <div class="col-2 text-left mb-auto">郵便番号</div>
  <div class="col-10 text-left"><%= @customer.postal_code %></div>
 </div>
</br>

 <div class="row">
  <div class="col-2 text-left mb-auto">住所</div>
  <div class="col-10 text-left"><%= @customer.address %></div>
 </div>
</br>

 <div class="row">
  <div class="col-2 text-left mb-auto">電話番号</div>
  <div class="col-10 text-left"><%= @customer.telephone_number %></div>
 </div>
</br>

 <div class="row">
  <div class="col-2 text-left mb-auto">メールアドレス</div>
  <div class="col-10 text-left"><%= @customer.email %></div>
 </div>
</br>

 <div class="row">
  <div class="col-2 text-left mb-auto">会員ステータス</div>
  <div class="col-10 text-left text-success font-weight-bold"><%= @customer.is_active == true ? "有効" : "退会" %></div>
 </div>
</br>

 <div class="row">
  <div class="col-md-4 offset-md-2">
   <%= link_to '編集する', edit_admin_customer_path, class:"btn btn-success" %>
  </div>
  <div class="col-md-4.ms-auto">
   <%= link_to '注文履歴一覧を見る', admin_customers_path, class:"btn btn-info" %>
  </div>
 </div>
</div>