<div class="container">
  <%= render 'genre search', genres: @genres %>
    <h4><%= @text %>一覧（全<%= @all_item.count %>件）</h4>
    <div class="row col-10">
      <% @items.each do |item| %>
        <div class="mr-auto">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.image, size: "180x100" %></br>
          <% end %>
          <%= item.name %></br>
          ￥<%= item.price %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <%= paginate @items %>
  </div>

</div>